nnUNet_preprocessed/Dataset501_PlantSeg/nnUNetPlans_2d/
nnUNet_results/Dataset501_PlantSeg/nnUNetTrainer__nnUNetResEncUNetMPlans__2d/fold_0/validation/
nnUNet_results/Dataset501_PlantSeg/nnUNetTrainer__nnUNetResEncUNetMPlans__2d/fold_0/checkpoint_best.pth
nnUNet_results/Dataset501_PlantSeg/nnUNetTrainer__nnUNetResEncUNetMPlans__2d/fold_0/checkpoint_final.pth